header img{
    widht:120px;
    height:89.81px;
    padding: 20px;
    margin-right: 10px;
}

header{
    background-color: #F37B9F;
}

main h1{
    text-align: center;
    font-size: 72px;
    font-family: Roboto;
}

header button{
    margin-right: 30px;
    padding: 20px;
    padding-right: 150px;
    margin-top: 50px;
    background-color: #EE1919;
}

footer{
    background-color: #F37B9F;
}

footer h3{
    background-color: white;
    padding-bottom: 10px;
    margin: 10px;
}

footer h4{
    color: #F37B9F;
}

main td {
    border: 10px solid #99006E;
    border-radius: 20px;
    padding: 15px;
}

.class {
    width: 100px;
    height: 66.67px;
    margin-right: 40px;
}
.class1 {
    width: 100px;
    height: 66.61px;
    margin-right: 40px;
}

.class2 {
    width: 198.31px;
    height: 66px;
    margin-right: 25px;
}

.class3 {
    width: 94.76px;
    height: 65px;
    margin-right: 30px;
}

.class4 {
    width: 120;
    height: 65px;
}

main h2{
    font-size: 36px;
    font-family: Roboto;
}

.class5 {
    width: 117px;
    height: 70px;
    margin-right: 30px;
}

.class6 {
    width: 100px;
    height: 70px;
    margin-right: 20px;
}

.class7 {
    width: 170px;
    height: 70px;
    margin-right: 10px;
}

.class8 {
    width: 130px;
    height: 70px;
    margin-right: 30px;
}

.class9 {
    width: 150px;
    height: 70px;
    
}

.class10 {
    width: 130px;
    height: 70px;
    margin-right: 30px;
}

.class11 {
    width: 130px;
    height: 70px;
    margin-right: 30px;
}

.class12 {
    width: 150px;
    height: 70px;
    margin-right: 20px;
}

.class13 {
    width: 140px;
    height: 70px;
    margin-right: 20px;
}

.class14 {
    width: 120px;
    height: 70px;
    
}
